* {
    margin:0;
    padding:0;
}

body {
    width:1024;
    background-image:url(../images/ep_naturalwhite.png);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}


.wrapper {
    max-width:960px;
    margin-left:291px;
    margin-top:51px;
    background-color:#e2dcdc;
    border: 2px solid lightgray;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;      
}

nav {
    width:500px;
    margin-left:300px;
    margin-bottom:-61px;
    margin-top:20px;
        
}
    

h2 {
    color:teal;
    font-family:Georgia, Times, "Times New Roman", serif;
    border-bottom: 3px solid #ddd;
    margin-top:25px;
    margin-left:35px;
}


footer {
    background-color: #666666;
    padding: 20px;
    margin-top: 20px;
	position:absolute;
    bottom: 0;
    margin-bottom:-313px;
    width:100%;
    text-align:center;
    border-top:4px solid teal;
    z-index:200;
}
.col-md-8 {
    margin-left:91px;
    margin-right:-36px;
}

/***************************portfolio*********************/

#portfolio .container {
    margin-top:20px;
}

#portfolio h2 {
    margin-left:149px;
    margin-top:65px;
}

#portfolio nav {
    width:500px;
    margin-left:407px;
    margin-bottom:-61px;
    margin-top:-0px;
}


/******************************Contact***************************/

#contact-body nav {
    width:500px;
    margin-left:407px;
    margin-bottom:-61px;
    margin-top:-0px;
}

#contact-body h2 {
    margin-left:149px;
    margin-top:65px;
}

