* {
    margin:0;
    padding:0;
}

body {
    width:1024;
    background:  url("../images/ep_naturalwhite.png");
    
}

.wrapper {
    width:960px;
}
h1 {
    color:teal;
}

.main-image {
    margin-left:10px;
}

footer {
    background-color: #666666;
    padding: 20px;
    margin-top: 20px;
	position:absolute;
    bottom: 0;
    margin-bottom:0;
    width:100%;
    text-align:center;
    border-top:4px solid teal;
    z-index:200;
}
.col-md-8 {
    margin-left:116;
}
